<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Comments</title>
</head>
<body>
      <h1>Add Comment...</h1>
      <div class ="form-group">
          <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="wrapper">
              <button class="btn btn-secondary">Add Comment</button>
            </div>
          </form>
      </div>
    
      <div>
          <style>
              .body{
                  align-items: center;
              }
              h1{
                  text-align: center;
              }
              p{
                  text-align: center;
                  
              }
              .wrapper {
                text-align: center;
            }
              button.btn.btn-secondary{
                  position:absolute;
                  top: 40%;
                  color: black;
              }
          </style>

      </div>
</body>
</html>